bin/**
!/bin/.local/
!/bin/.local/bin/
!/bin/.local/bin/tmux-cht
!/bin/.local/bin/tmux-sessionizer
!/bin/.local/bin/tmux-windowizer
!/bin/.local/bin/bbcli
!/bin/.local/bin/delete-branches
!/bin/.local/bin/pr-checkout
!/bin/.local/bin/new-bg
!/bin/.local/bin/tmux-cli

nvim/.config/nvim/plugin/packer_compiled.lua
